<!DOCTYPE html>
<html>
<head>
  <title>Organizations</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

   <div class="errors">
      <% if flash[:errors] %>
         <% flash[:errors].each do |err| %>
            <h4><%= err %></h4>
         <%end%>
      <%end%>
      <% if flash[:success] %>
          <%= flash[:success] %>
      <% end %>
   </div>

   <% if current_user %>
      <form action='/sessions' method='post'>
         <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
         <input type='hidden' name='_method' value='delete'>
         <button type="submit" id="logout">Log Out</button>
      </form>
   <%end%>


<%= yield %>

</body>
</html>
